ul {
  padding: 0;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 144px;
  background: #F8F8F8;

  &:nth-child(n) div {
    text-align: start;
  }
}

li {
  list-style: none;
}

.socLinks {
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFD300;
    width: 43px;
    height: 43px;
    border-radius: 6px;

    &:nth-child(2) {
      margin: 8px 0;
    }
  }
}