.mainWrapper {
  background: #F8F8F8;
  //height: 290px;
  padding: 0 144px;
  overflow: hidden;
}

.titlePartners {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}

.partners {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-bottom: 40px;

  li {
    mix-blend-mode: luminosity;
    list-style: none;
    background: white;
    padding: 20px;
    margin-right: 20px;

    &:nth-child(1) {
      padding-left: 0;
      background: White;
    }

    &:nth-last-child(1) {
      padding-right: 0;
      background: White;
      margin: 0;
    }
  }

  &:before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../public/arrow.svg");
    width: 71px;
    margin: 0 0 8px 0;
    text-align: start;
    transform: rotate(90deg);
  }

  &:after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../public/arrow.svg");
    width: 71px;
    margin: 0 0 8px 0;
    text-align: start;
    transform: rotate(-90deg);
  }
}